#loginButton {
	background: #000000;
	color: #ffffff !important;
	font-size: 25px;
	border-radius:0;
	height:100%;
	width:100%;
	border-color: #000000;
}

#username, #password{
	color: #000000;
	width: 100%;
	font-size: 15px;
	margin-bottom: 5px;
}

a.loginButton{
	background: #000000;
	color: #ffffff !important;
	font-family: 'Press Start 2P';
	font-size: 25px;
	border-radius:0;
	height:100%;
	width:100%;
	text-align: center;
	border-color: #000000;
}
a.loginButton:hover{
	background: #000000;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 25px;
	border-radius:0;
	height:100%;
	width:100%;
	border-color: #000000;
}

.buttonStackLoginClicked{
	background: #000000;
	color: #ffffff !important;
	font-family: 'Press Start 2P';
	font-size: 10px;
	border-radius: 0;
	width:45%;
}
.buttonStackLoginClicked:hover{
	background: #000000!important;
	color: gray !important;
	font-family: 'Press Start 2P';
	font-size: 10px;
	border-radius: 0;
}

#containerLoginMobile{
	padding:0px !important;
}

#loginButtonMobile{
	background: #000000;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 25px;
	width:100%;
	border-radius: 0;
	border-color:#000000;
}

#loginButtonMobile:hover{
	color: gray;
	text-decoration: none;
}

#head{
	position:relative;
	background-color: gray; 
}

#busqueda{
	border-radius: 0px;
	border-style: solid 1px;
	color:#000000;
}

a, a:hover, a:focus, a:active{
	text-decoration: none;
	color: black;
}


#halp:hover{
	font-size: 110px;
}

#sideBar{
	text-align: center;
}

.buttonStack{
	background: #000000;
	color: #ffffff;
	font-family: 'Press Start 2P';
	font-size: 15px;
	border-radius:0;
	width: 25%;
}

.preguntaButton {
	background: #585858;
	color: #ffffff;
	font-family: 'Press Start 2P';
	border-radius:0;
	font-size: 13px;
	width:100%;
	height: 100%;
	border-color:#585858;
}

/*Necesario para pseudoestados del boton, cuando haciamos click se ponia fondo azul raro*/
.preguntaButton:active, .preguntaButton:focus {
	background-color: #585858 !important;
}

.dropdownMenu {
	font-family: 'Press Start 2P';
	text-align: center;
}

#menuContainerMobile .dropdown {
	float:none;

}
.finalPagina {
	margin-top:5%;
	background-color:gray;
}

.company {
	margin-top:2%;
	text-align:right;
	font-family: 'Press Start 2P';
	font-size: 10px;
}

.preguntaButton:hover{
	color: black;
	background:#585858;
}

.loginContainer{
	position:absolute;
	padding-right: 0; 
	right:0%; 
	bottom:0%;
}

.pregunta {
	background-color: #FAFAFA;
	margin-top: 20px;

}

.elemPregunta {
	margin-left: 5px;
	margin-right: 5px;
}

.compSideBar{
	font-family:'Press Start 2P';
}

.modal-title{
margin-top: 5px;
font-family:'Press Start 2P';
text-align: center;
}

.modalCloseButton{
	margin-top: -10px;
}

.verticalSeparator {
	border-left: 1px solid black;
	height: 25px;
}

.fire {
	margin-left: 15px;
}

.botonera {
	text-align: center;
}

.botonera-xs {
	text-align: right;
}

.form-control::-webkit-input-placeholder {
	font-family: 'Press Start 2P';
	color: black;
}

.form-control::-moz-placeholder { /* Firefox 18- */
	font-family: 'Press Start 2P';
	color: black;  
}

.form-control::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'Press Start 2P';
	color: black;  
}

.form-control::-ms-input-placeholder {  
	font-family: 'Press Start 2P';
	color: black;  
}

.tags{
	text-align: right;
	margin-bottom: 2%; 
}
span.tag {
	text-align: right;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #D8D8D8;
	background-color: #CEF6F5;
	-webkit-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 22px 0px rgba(0,0,0,0.75);
}



hr {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #EEEEEE -moz-use-text-color #FFFFFF;
	border-style: solid none;
	border-width: 1px 0;
	margin: 18px 0;
}

.divBotonesLogin {
	text-align: right;
	margin-top: 5px;
}

/* CSS para query */

.cuerpoPregunta{
	margin-top: 20px;
	position: relative;
}

.usuarioPregunta{
	font-size: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: right;
	padding-left: 0px;
	position: absolute;
	bottom: 0%;
}

.tituloPregunta{
	font-size: 20px;

}

.respuesta{
	padding-left: 12.5%;
}

.usuarioRespuesta{
	text-align: right;
	margin-bottom: 20px;
	margin-top: 10px;
}

.textBox {
	margin-top: 15px;
	text-align: center;
}

textarea {
	width:100%;
}

.tituloRespuesta {
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: -10px;
}

/* Fin Css para query */


/*Mobile*/
@media (min-width: 1px) {

	.buttonStack{
		background: #000000;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 10px;
		border-radius:0;
		width: 25%;
	}

	#loginContainer {
		display: none;
	}

	#sideBar{
		display:none;
	}

	.listaMenu{
		width: 100%;
		text-align: center;
		padding-left: 20px;
	}

	#searchBar, #sideBar {
		margin-top: 10px;
	}

	.preguntaContainer{
		margin-top: 3%;
		margin-left: 70%; /*MEJOR FORMA PA HACERLO!???*/
	}

	.elemFooter {
		margin-left: 10px;
		margin-right: 5px;
		font-family: 'Press Start 2P';
		font-size:10px;
	}

	.linksFooter {
		text-align: center;
	}
}

@media (min-width: 768px) {
	.buttonStack{
		background: #000000;
		color: #ffffff;
		font-family: 'Press Start 2P';
		font-size: 15px;
		border-radius:0;
		width: 25%;
	}


	#loginContainer {
		display: none;
	}

	#sideBar{
		display:none;
	}

	.listaMenu{
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}

	#searchBar, #sideBar {
		margin-top: 10px;
	}

	.preguntaContainer{
		margin-top: 3%;
		margin-left: 76.5%; /*MEJOR FORMA PA HACERLO!???*/
	}

	.elemFooter {
		margin-left: 10px;
		margin-right: 5px;
		font-family: 'Press Start 2P';
		font-size: 15px;
	}

	.linksFooter {
		text-align: center;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) { 
	/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa*/
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:hover, .nav > li > a:focus{
		background-color: #000000 !important;/*isimoo*/
		color: white;
	}
	#loginButtonMobile{
		display: none;
	}

	.menuVisible {
		display:none;
	}

	#searchBar{
		margin-top: 25px;
	}

	#sideBar {
		margin-top: 45px;
	}

	.preguntaContainer{
		margin-top: 3%;
		margin-left: 75%; /*MEJOR FORMA PA HACERLO!???*/
	}

	.elemFooter {
		margin-left: 10px;
		margin-right: 5px;
		font-family: 'Press Start 2P';
		font-size: 15px;
	}

	.linksFooter {
		text-align: left;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/*AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAa*/
	.nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .nav > li > a:hover, .nav > li > a:focus{
		background-color: #000000 !important;/*isimoo*/
		color: white;
	}
	#loginButtonMobile{
		display: none;
	}

	.menuVisible {
		display:none;
	}

	#searchBar{
		margin-top: 25px;
	}

	#sideBar {
		margin-top: 45px;
	}

	.preguntaContainer{
		margin-top: 3%;
		margin-left: 75%; /*MEJOR FORMA PA HACERLO!???*/
	}

	.elemFooter {
		margin-left: 5%;
		margin-right: 5%;
		font-family: 'Press Start 2P';
		font-size: 15px;
	}

	.linksFooter {
		text-align: left;
	}
}